@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
  box-sizing: border-box;
}

// Variable
// --------------------------------------------------------------------------------------------

$main-color: #e5e5e5;
$desc-text: rgba(24, 24, 24, 0.6);
$h2-text: rgba(0, 0, 0, 0.3);
$basic-text: black;
$radius: 8px;

body {
  background-color: $main-color;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-family: 'Roboto';
  color: $basic-text;
}

input {
  appearance: none;
}

h1 {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 42px;
  margin: 0.5em;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: $h2-text;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 2em;
}

p {
  margin: 0;
}

.wrapper {
  height: 100%;
  padding: 5% 10.5% 0 10.5%;
  .paris-accord-content {
    background-color: $bloc-color;
    border-radius: $radius;
    padding: 2em;
    text-align: center;
    > p {
      color: $desc-text;
      margin-bottom: 3em;
    }
    .paris-accord-percent {
      > p {
        margin: 0;
        font-weight: medium;
      }
      .percent {
        font-weight: 500;
        font-size: 100px;
      }
    }
  }

  .annonce {
    margin: auto;
    font-size: 17px;
    color: $h2-text;
    text-align: center;
    margin: 1em 1em 5em 1em;
    font-weight: normal;
  }

  .flex-cards-exemple {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    .flex-cards {
      background-color: $bloc-color;
      height: 326px;
      width: 23%;
      border-radius: $radius;
    }
  }
  .energy-wrapper {
    width: 80%;
    margin: auto;
    .flex-energy-app {
      display: flex;
      flex-wrap: wrap;
      margin-right: -2.5%;
      .energy-app {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 116px;
        background-color: $bloc-color;
        border-radius: $radius;
        width: 47.5%;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        padding: 1em;
        .icon-energy-app {
          width: 68px;
          height: 100%;
          background-color: $main-color;
          border-radius: $radius;
        }
        .text-energy-app {
          .name-energy-app {
            font-weight: bold;
          }
          .txt-hour-energy-app {
            color: $h2-text;
          }
        }
        .percent-energy-app {
          color: $h2-text;
        }
      }
    }

    margin-bottom: 3em;
  }

  .extension-desc {
    text-align: center;
    > p {
      color: $desc-text;
      margin-bottom: 3em;
    }
    > div {
      text-align: left;
      width: 80%;
      margin: auto;
      margin-bottom: 3em;
      > p {
        margin: 0.5em;
        &::before {
          content: '👉 ';
        }
      }
    }
  }

  .illus-extension {
    height: 483px;
    background-color: $bloc-color;
    border-radius: $radius;
    margin-bottom: 3em;
  }

  .thanks-part {
    text-align: center;
    > p {
      color: $desc-text;
      margin-bottom: 3em;
    }
  }

  .form-extension {
    display: flex;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: $radius;
    border: 0.1px solid $h2-text;
    input[type='text'] {
      font-family: 'Roboto';
      font-size: 24px;
      padding: 1.5em 1em;
      width: 80%;
      border: 0px solid $desc-text;
      outline: none;
      font-weight: normal;
    }
    input[type='button'] {
      font-family: 'Roboto';
      padding: 1.5em 2em;
      width: 20%;
      font-size: 24px;
      background-color: $basic-text;
      color: $bloc-color;
      border: 0px solid $main-color;
    }
  }
}
