// Colors
$main-color: #000000;
$skin: #f6f2e7;
$skin-boxes: white;
$orange: #ffab00;
$purple: #3b247b;
$purple-light: rgba(59, 36, 123, 0.6);
$grey-progress-bar: #c4c4c4;
$skip-button: rgba(255, 255, 255, 0.5);

$inner: 1170px;

$desc-text: rgba(24, 24, 24, 0.6);
$h2-text: rgba(0, 0, 0, 0.3);
$basic-text: black;
$radius: 8px;
