
// Colors
$main-color:  #000000;
$skin:        #F6F2E7;
$skin-boxes:  white;
$orange:      #FFAB00;
$purple:      #3B247B;
$grey-progress-bar : #C4C4C4;
$skip-button : rgba(255, 255, 255, 0.5);

$inner:         1170px;
